
    .link-button{
        color: rgb(255, 255, 255);
        background-color: #050505;
        padding: 15.5px;
        padding-top: 5.5px;
        padding-bottom: 5.5px;
        border-radius: 5px;
        border: 0px;
        font-size: 14px;
        font-family:'Roboto-Bold';
        margin:'0px'; 
    }
    
    .link-button:hover {
        background-color: #353535;
        color: #ffffff;
    }
    
    .link-button:active {
        background-color: #1F1F1F;
        color: #CACACA;
    }
